<label for="loging"></label>
<input style="border: 2px solid green;" type="email" placeholder="LOGIN">
<label for="password"></label>
<input style="border: 2px solid green;" type="password" placeholder="PASSWORD">